<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="\">Sistema</a>
      <button class="navbar-toggler" 
      type="button"
       data-toggle="collapse"
       data-target="#navbarColor01"
       aria-controls="navbarColor01" 
       aria-expanded="false" 
       aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse"  id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link " routerLink="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " routerLink="/list">List</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " routerLink="/new">New</a>
          </li>
          <!--<span class="visually-hidden"></span>-->
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        </ul>
       
        <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login ">
          
          <li class="nav-item " *ngIf="user">
            <a href="#" class="nav-link " (click)= onLogout() >Logout</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link"> {{ user?.email }} </a>
          </li>
        </ul>  
        <ng-template #login>
          <ul class="navbar-nav mx-auto">
          <li class="nav-item " *ngIf="!user">
            <a class="nav-link " routerLink="/login">Login</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/register">Register</a>
          </li>
        </ul>
        </ng-template>
        <!--<form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

